@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'),
    url('../fonts/OpenSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  @apply dark:bg-black;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  @apply dark:text-white;
}

h1 {
  @apply text-6xl;
}

h2 {
  @apply text-5xl;
}

h3 {
  @apply text-4xl;
}

h4 {
  @apply text-3xl;
}

h5 {
  @apply text-2xl;
}

ul {
  @apply list-disc pl-2 py-2;

  & li {
    @apply pb-2;
  }
}

ol {
  @apply list-decimal pl-2 py-2;

  & li {
    @apply pb-2;
  }
}

.container {
  @apply max-w-prose p-4 m-auto;
}

.site-title {
  @apply text-3xl mb-4;
}

.entry-title {
  @apply text-2xl mb-4;
}

.entry-content {
  @apply mb-8;
}

p {
  @apply mb-4;
}

.wp-block-button {
  & a {
    @apply py-2 px-8 rounded-none;
  }

  &.aligncenter {
    @apply text-center;
  }

  &.alignright {
    @apply text-right;
  }

  &.is-style-outline {
    @apply outline-black dark:outline-white;
  }
}

.wp-block-cover {
  &.alignfull {
    @apply relative mb-12 p-48 leading-normal;

    left: -25vw;
    width: calc(100% + 50vw);
  }

  &.alignwide {
    @apply relative mb-12;

    left: -15vw;
    width: calc(100% + 30vw);
  }

  & .wp-block-cover-text {
    @apply dark:text-white !important;
  }
}

.wp-block-latest-posts__post-date,
.wp-block-latest-posts__post-author,
.wp-block-image figcaption,
.blocks-gallery-caption {
  @apply dark:text-gray-500;
}
