@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply dark:bg-gray-900 antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol {
    @apply dark:text-gray-200;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-gray-800 dark:text-gray-200 font-sans font-extrabold break-words mb-8;
  }

  h1 {
    @apply text-5xl lg:text-6xl;
  }

  h2 {
    @apply text-4xl lg:text-5xl;
  }

  h3 {
    @apply text-3xl lg:text-4xl;
  }

  h4 {
    @apply text-3xl;
  }

  h5 {
    @apply text-2xl;
  }

  h6 {
    @apply text-xl;
  }

  p {
    @apply font-serif text-xl text-gray-800 dark:text-gray-200  font-normal leading-relaxed mb-8;
  }

  a {
    @apply relative text-gray-800 dark:text-gray-200 underline hover:no-underline;
  }

  ul {
    @apply list-disc pl-2 py-2;

    & li {
      @apply pb-2;
    }
  }

  ol {
    @apply list-decimal pl-2 py-2;

    & li {
      @apply pb-2;
    }
  }

  hr {
    @apply my-8 m-auto;
  }

  dt {
    @apply font-bold;
  }

  form input,
  form textarea {
    @apply dark:bg-gray-800;
  }

  blockquote {
    @apply mt-2 mb-8 px-4 italic clear-both border-l-4;

    & p {
      @apply m-0 leading-snug tracking-wide;
    }
  }
}

.site-header,
.site-main,
.site-footer {
  @apply container max-w-2xl;
}

.site-header,
.site-footer {
  @apply my-8;
}

.site-branding {
  @apply;
}

.post-container,
.entry-content {
  @apply space-y-8;
}

.site-title {
  @apply text-3xl mb-4;
}

.entry-title {
  @apply font-black mb-12 leading-tight;

  & a {
    @apply no-underline;
  }
}

.entry-meta {
  @apply dark:text-gray-700 mb-4;
}

.seperator {
  @apply dark:text-gray-200 space-x-8 text-3xl m-auto text-center;
}

.nav-links {
  @apply flex justify-between text-xl mb-8;

  & .nav-next a,
  & .nav-previous a {
    @apply rounded bg-gray-200 hover:bg-gray-400 dark:bg-gray-700 dark:text-gray-200 dark:hover:bg-gray-800 px-4 py-2 no-underline;
  }
}

.site-info p {
  @apply text-center font-sans text-lg mb-0;
}

#disqus_thread {
  @apply p-4 rounded text-gray-800 dark:bg-gray-700 dark:text-gray-200;
}

.wp-block-button {
  & a {
    @apply py-2 px-8 rounded-none;
  }

  &.aligncenter {
    @apply text-center;
  }

  &.alignright {
    @apply text-right;
  }

  &.is-style-outline {
    @apply outline-black dark:outline-white;
  }
}

.wp-block-cover {
  &.alignfull {
    @apply relative mb-12 p-48 leading-normal;

    left: -25vw;
    width: calc(100% + 50vw);
  }

  &.alignwide {
    @apply relative mb-12;

    left: -15vw;
    width: calc(100% + 30vw);
  }

  & .wp-block-cover-text {
    @apply dark:text-white !important;
  }
}

.wp-block-latest-posts__post-date,
.wp-block-latest-posts__post-author,
.wp-block-image figcaption,
.blocks-gallery-caption {
  @apply dark:text-gray-500;
}
